*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}Lu
body{
  font-family:'cida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar{
  background-color: #fad91f;
  width: 100%;
  height: 60px;
  position: fixed;
}
.nav-bar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
.nav-bar ul li{
  list-style-type: none;
  font-size: 24px;
  color: rgb(34, 33, 33);
}
.nav-bar ul li:first-child{
  letter-spacing: 2.5px;
}
.nav-bar ul li input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  width: 255px; 
  transition: border-color 0.3s ease;
  background-color: rgb(255, 255, 167);
}

.nav-bar ul li input[type="text"]:focus {
  outline: none;
  border-color: rgb(107, 105, 105);
}
/* MAINCOMPONENT */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 247, 247);
}

.pizza-text {
  padding-top: 40px;
  font-size: 40px;
  margin-top: 40px;
}

.welcome-text {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #fad91f;
  font-weight: bold;
}

.welcome-instruction {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-field {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.main-container form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.custom-button {
  margin-top: 20px;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  background-color: #fad91f;
  color: #4B5563;
  border-radius: 9999px;
  outline: none;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #f5d556;
}

.custom-button:focus {
  box-shadow: 0 0 0 2px #FDE68A, 0 0 0 4px rgba(253, 230, 138, 0.5);
}

.custom-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* MENUSINGLEITEM */
.menu-container {

  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 800px;
}
.menu-item:nth-child(1){
  margin-top: 65px;
}

.menu-item-image {
  width: 220px;
  height: 120px;
  overflow: hidden;
}

.menu-item-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.menu-item-details {
  padding: 20px;
  display: flex;
}
.menu-data{
  margin-left: 10px;
}
.menu-data .menu-item-ingredients{
  font-style: italic;
}

.menu-item-name {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.menu-item-ingredients {
  margin: 0 0 10px;
  font-size: 0.9rem;
}

.menu-item-price {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.menu-item-button {
  display: block;
  width: 150px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: orange;
  color: rgb(63, 61, 61);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-location{
  display: block;
  width: 140px;
  height: 35px;
  padding: 4px;
  border: none;
  background-color: orange;
  color: rgb(63, 61, 61);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  
  margin-left: -140px;
}

.menu-item-button.sold-out {
  background-color: #ccc;
  cursor: not-allowed;
}
.menu-main-container{
  width: 100%;
}
.menu-main-container ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container-number-pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}
.container-number-pizza .btn{
 background-color: orange;
 width: 32px;
 height: 32px;
 border-radius: 50%;
 border: none;
 cursor: pointer;
}
/* OrderBar */
.orderbar-container{
  background-color: rgb(56, 54, 54);
  color: #d6d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 43px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  font-weight: bold;
}
.orderbar-details{
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}
/* CART*/
.cart-container{
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 80px;
}
.cart-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(233, 232, 232);
  margin-top: 5px;
}
.cart-details ul li {
  list-style-type: none;
}
.openCart{
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white
}
.openCart span{
  margin:2px;
}
.back-menu{
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-bottom: 35px;
  font-size: 16px;
  color: #3498db;
}
.clear-btn{
  background-color: #f3f3f3;
  border: 1px solid grey;
  margin-left: 12px;
}
.cart-name{
  font-size: 20px;
  font-weight: bold;
}
.cart-details ul li {
  font-size: 20px;
  color:rgb(94, 90, 90);
}
.cart-price-details{
  display: flex;
  align-items: center;
}
.cart-price-details span{
  margin-right: 20px;
  font-weight: bold;
}
.empy-cart{
  font-size: 20px;
  font-weight: bold;
  color: rgb(68, 67, 67);
}
/* Order */
.order-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  color: rgb(73, 72, 72);
}

.order-container h2 {
  font-size: 24px;
  margin-bottom: 80px;
}

/* .order-container form div {
  margin-bottom: 15px;

} */

.order-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 140px;
}

.order-container input[type="text"] {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-now{
  width: 100%;
  padding: 10px 20px;
  background-color: #fad91f;
  color: rgb(49, 49, 49);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.btn-position{
 position: absolute;
 width: 100px;
}

.order-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px
}


.order-container div:last-child {
  display: flex;
  align-items: center;
}

.order-container div:last-child input[type="checkbox"],
.order-container div:last-child p {
  margin: 0;
}
.order-container form div {
  display: flex;

  align-items: center;
}
form div label:last-child{
  width: 410px;
 
}
.error-message{
  color:red;
  display: flex;
  justify-content: center;
  padding-top: 4px;
  margin-bottom: 10px;
}
.priorityOrder{
  margin-left: 10px;
}
/* OrderStatus */
.container-orderStatus{
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  height: 100vh;
}
.order-status{
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.order-status p{
  font-weight: bold;
  font-size: 22px;
}
.order-status button {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  background-color: rgb(106, 236, 106);
  color: white;
  border-radius: 9999px;
  outline: none;
  border: none;
  cursor: pointer;
}
.order-status button:nth-child(1){
  background-color: rgb(226, 19, 19);
  margin-right: 10px;
}
.order-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin:20px 0;
  padding: 15px;
  background-color: rgb(204, 203, 203);
  font-size: 20px;
}
.order-time p:nth-child(2){
  font-size: 14px;
  font-style: italic;
}
.container-orderStatus .order-pizzas{
  display: flex;
  width: 55%;
  height: 120px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(187, 184, 184);
  border-top: 1px solid rgb(187, 184, 184);
}
.order-pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  background-color: rgb(241, 245, 241);
  margin-right: 10px;
  width: 150px;
  padding: 10px;
  border: 1px solid #fad91f;
}
.order-pizza p:nth-child(1){
  padding-bottom: 40.5px;
}
.order-price{
  margin-top: 20px;
  background-color: rgb(204, 203, 203);
  width: 55%;
  padding: 10px;
}
.order-price p {
  font-size: 18px;
  color:rgb(53, 50, 50);
}
.order-price p:nth-child(3){
  margin-top: 8px;
  font-size: 20px;
  color:black
}
.order-priority{
  margin-top: 20px;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  background-color: #fad91f;
  color: black;
  border-radius: 9999px;
  outline: none;
  border: none;
  cursor: pointer;
}