*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}Lu
body{
  font-family:'cida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar{
  background-color: #fad91f;
  width: 100%;
  height: 60px;
  position: fixed;
}
.nav-bar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
.nav-bar ul li{
  list-style-type: none;
  font-size: 24px;
  color: rgb(34, 33, 33);
}
.nav-bar ul li:first-child{
  letter-spacing: 2.5px;
}
.nav-bar ul li input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  width: 255px; 
  transition: border-color 0.3s ease;
  background-color: rgb(255, 255, 167);
}

.nav-bar ul li input[type="text"]:focus {
  outline: none;
  border-color: rgb(107, 105, 105);
}
/* MAINCOMPONENT */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 247, 247);
}

.pizza-text {
  padding-top: 40px;
  font-size: 40px;
  margin-top: 40px;
}

.welcome-text {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #fad91f;
  font-weight: bold;
}

.welcome-instruction {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-field {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.main-container form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.custom-button {
  margin-top: 20px;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  background-color: #fad91f;
  color: #4B5563;
  border-radius: 9999px;
  outline: none;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #f5d556;
}

.custom-button:focus {
  box-shadow: 0 0 0 2px #FDE68A, 0 0 0 4px rgba(253, 230, 138, 0.5);
}

.custom-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* MENUSINGLEITEM */
.menu-container {

  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 800px;
}
.menu-item:nth-child(1){
  margin-top: 65px;
}

.menu-item-image {
  width: 220px;
  height: 120px;
  overflow: hidden;
}

.menu-item-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.menu-item-details {
  padding: 20px;
  display: flex;
}
.menu-data{
  margin-left: 10px;
}
.menu-data .menu-item-ingredients{
  font-style: italic;
}

.menu-item-name {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.menu-item-ingredients {
  margin: 0 0 10px;
  font-size: 0.9rem;
}

.menu-item-price {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.menu-item-button {
  display: block;
  width: 150px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: orange;
  color: rgb(63, 61, 61);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item-button.sold-out {
  background-color: #ccc;
  cursor: not-allowed;
}
.menu-main-container{
  width: 100%;
}
.menu-main-container ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container-number-pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}
.container-number-pizza .btn{
 background-color: orange;
 width: 32px;
 height: 32px;
 border-radius: 50%;
 border: none;
 cursor: pointer;
}
